.home {
  display: flex;
  height: 100vh; 
  padding: 0 20px;
  background-color: #a100ff;
  background-image: url('../Assets/660838.png'); 
}

.upperDiv {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover; 
  background-position: center; 
  width: 100%;
  padding: 10px;
  background-image: url('../Assets/660838.png');
  
}

.upperDiv h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center; 
  background-image: url('../Assets/660838.png');
}

.upperDiv p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.upperDiv label {
  font-size: 18px;
  margin-right: 10px;
}

.upperDiv input {
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

.upperDiv button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white; /* Change button text color to white */
  border: none;
  cursor: pointer;
}

.lowerDiv {
  flex: 1; /* Take up remaining space */
  display: flex;
  height: 100%; /* Stretch lowerDiv container vertically */
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding-bottom: 20px; /* Add padding to the bottom */
  background-image: url('../Assets/660838.png'); 
}

.lowerDiv .map-container {
  width: 80%; 
  height: 100%; 
  max-height: 100%; 
  overflow: hidden; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.button-container button {
  margin-top: 10px; 
}

.button1 {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.button2 {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; 
  color: white;
  border: none;
  cursor: pointer;
}

.mapboxgl-map {
  width: 100%; 
  height: 100%; 
  
}
